<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <title>flyduck</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/d913c0cba4.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <style type="text/css">
        .jumbotron {
          padding: 4rem 2rem;
          margin-bottom: 2rem;
          background-color: var(--bs-light);
          border-radius: .3rem;  
        }
      </style>
 </head>
  <body>
    <header>
        <div class='container'>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="pictures/emt.jpg"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">omagagaga</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">主頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">最新派對</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">常見問題</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">聯絡我們</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                        </a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                    </ul>
                    <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                </div>
            </nav>
        </div>
    </header>
    <section id='intro'>
        <div class='jumbotron'>
            <div class='container'>
                <div class='col-md-12'>
                    <h1>全港最好玩既Private派對 (示範頁面)</h1>
                    <p>生活悶悶地？加入我們一齊玩啦！</p>
                    <a href='https://www.google.com.tw/'><button type="button" class="btn btn-warning">參加派對</button></a>
                </div>
            </div>
        </div>
    </section>
    <section id='second'>
        <div class="container">
            <div class="row">
                <div class='col-md-8 offset-md-2 text-center'>
                    <h3>加入K.O. Party，一起去狂歡</h3>
                        <div class='row'>
                            <div class='col-md-4'>
                                <img src="pictures/土龍.png">
                                <h5>搞手Danny</h5>
                            </div>
                            <div class='col-md-8 text-start'>
                                <p class='lead'>無論你是單身一人...</p>
                                <P>你好！我叫Danny！是K.O.Party的活動搞手之一...</P>
                                <p>人生的美妙在於遇見不同的人，遇到不同的事...</p>
                            </div>
                </div>    
            </div>
        </div>
    </section>
    <section id="latest">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>最新派對</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="outer">
                    <div class="upper">
                        <img src="pictures/emt.jpg">
                        <div class="innertext">
                            <span>可報名</span>
                            <h4>男：HKD380 女：HKD280</h4>        
                        
                        </div>
                    </div>
                    <div class="lower">
                        <h3>狂歡派對（旅行篇） - 11月</h3>
                        <span><i class="fa-regular fa-location-dot"></i>香港銅鑼灣怡和街2-6號 英光大廈 7樓全層</span>
                        <br>
                        <span><i class="fa-solid fa-clock"></i>Nov 03, 2018 08:00PM</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    123
                </div>
                <div class="col-md-4">
                    123
                </div>
                <div class="col-md-4">
                    123
                </div>
            </div>
            
        </div>
    </section>
    <section id='email'>
        <div class='container'>
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h3>加入K.O. Party的Email List</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2 text-end">
                    <p>讓我們有最新派對便通知你吧！</p>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder='你的電郵'>
                    
                </div>
                <br>
                <a class='btn' href='#'>提交</a>
                </div>
            </div>
        </div>
    </section>
 </body>
</html>